@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

* {
    font-family: 'Preahvihear', sans-serif;
}

body {
    background-image: url(./assets/bg-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media print {
    .fixed.inset-0.z-50.flex.items-center.justify-center.bg-black.bg-opacity-50 .boton-imprimir {
        display: none;
    }
}